Output compiling with windows (choco) package:

```
$ metanorma compile -x html,txt draft-camelot-holy-grenade.adoc
[relaton-ietf] ("IETF RFC 8140") fetching...
[relaton-ietf] ("IETF RFC 8140") found RFC 8140
[relaton] Grail does not have a recognised prefix
[relaton-ietf] ("RFC 2635") fetching...
[relaton-ietf] ("RFC 2635") found RFC 2635
[relaton-ietf] ("RFC 7990") fetching...
[relaton-ietf] ("RFC 7990") found RFC 7990
[relaton] Grail does not have a recognised prefix
Metanorma XML Style Warning: (XML Line 000246): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000503): Hanging paragraph in clause
Metanorma XML Style Warning: (XML Line 000509): Table should have title
Metanorma XML Syntax: (XML Line 000011:123): character content of element "revis
ion-date" invalid; must be a string matching the regular expression "([\+\-]?\d{
4})((-?)((0[1-9]|1[0-2])((-?)([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?
|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6]))))?"
Metanorma XML Syntax: (XML Line 000080:88): attribute "obligation" not allowed h
ere; expected attribute "language", "numbered", "removeInRFC", "script" or "toc"
Metanorma XML Syntax: (XML Line 000408:7): element "svg" not allowed here; expec
ted the element end-tag or element "audio", "dl", "figure", "fn", "image", "note
", "p", "pre", "source" or "video"
RFC XML: Line 000338:466 element "svg" not allowed here; expected element "artse
t", "artwork", "iref", "preamble" or "sourcecode" (with xmlns="")
RFC XML: Line 000657:16 element "figure" incomplete; expected element "artset",
"artwork", "iref", "preamble" or "sourcecode"
C:/Users/ecisbani/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-gren
ade.rfc.xml(338): Error: Did not expect element svg there, at /rfc/middle/sectio
n[4]/section[2]/figure[2]/*[2]
C:/Users/ecisbani/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-gren
ade.rfc.xml(338): Error: Element figure has extra content: svg, at /rfc/middle/s
ection[4]/section[2]/figure[2]/*[2]
file:/C:/Users/ecisbani/devel/rfc-camelot-holy-grenade/sources/draft-camelot-hol
y-grenade.rfc.xml(11): Error: Invalid document before running preptool.
Unable to complete processing C:/Users/ecisbani/devel/rfc-camelot-holy-grenade/s
ources/draft-camelot-holy-grenade.rfc.xml
C:/Users/ecisbani/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-gren
ade.rfc.xml(338): Error: Did not expect element svg there, at /rfc/middle/sectio
n[4]/section[2]/figure[2]/*[2]
C:/Users/ecisbani/devel/rfc-camelot-holy-grenade/sources/draft-camelot-holy-gren
ade.rfc.xml(338): Error: Element figure has extra content: svg, at /rfc/middle/s
ection[4]/section[2]/figure[2]/*[2]
file:/C:/Users/ecisbani/devel/rfc-camelot-holy-grenade/sources/draft-camelot-hol
y-grenade.rfc.xml(11): Error: Invalid document before running preptool.
Unable to complete processing C:/Users/ecisbani/devel/rfc-camelot-holy-grenade/s
ources/draft-camelot-holy-grenade.rfc.xml
```

And this is the content of draft-camelot-holy-grenade.err

```
./draft-camelot-holy-grenade.err errors


== Metanorma XML Style Warning

(XML Line 000246): Hanging paragraph in clause
        <clause id="caerbannog" inline-header="false" obligation="normative">
        <title>The Mythos of Caerbannog</title>
        <p id="_b99a7b3f-68b2-9069-41a8-61d893309d4e">The <em>Cave of Caerbannog</em> has been well-established in the mythology
        of Camelot (as recounted by Monty Python) as the lair of the
        Legendary Black Beast of Arrrghhh, more commonly known today as the
(XML Line 000503): Hanging paragraph in clause
        <clause id="_dramatis_personae" inline-header="false" obligation="normative">
        <title>Dramatis Personae</title>
        <p id="_7bc7055d-1cdd-acaf-a5a7-8482246119e6">The following human (more-or-less) protagonists were involved
        in the two incidents recounted as lore of the Knights of the
        Round Table:</p>
(XML Line 000509): Table should have title
        <table id="_f87ba086-52e3-9b5d-05fc-52c5b027fec9"><thead><tr><th valign="top" align="left">French Castle</th>
        <th valign="top" align="left">Cave of Caerbannog</th>
        </tr></thead>
        <tbody><tr><td colspan="2" valign="top" align="left">King Arthur</td>
        </tr><tr><td colspan="2" valign="top" align="left">Patsy</td>


== Metanorma XML Syntax

(XML Line 000011:123): character content of element "revision-date" invalid; must be a string matching the regular expression "([\+\-]?\d{4})((-?)((0[1-9]|1[0-2])((-?)([12]\d|0[1-9]|3[01]))?|W([0-4]\d|5[0-2])(-?[1-7])?|(00[1-9]|0[1-9]\d|[12]\d{2}|3([0-5]\d|6[1-6]))))?"
(XML Line 000080:88): attribute "obligation" not allowed here; expected attribute "language", "numbered", "removeInRFC", "script" or "toc"
(XML Line 000408:7): element "svg" not allowed here; expected the element end-tag or element "audio", "dl", "figure", "fn", "image", "note", "p", "pre", "source" or "video"
```






Done in #17.